body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  color: white !important;
  background-image: url("../images/2690662.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
}

.login-page .todo-title {
  text-align: center;
  padding: 80px 0px;
}
.login-page .todo-title h1 {
  font-weight: bold;
  font-size: 64px;
  padding: 36px 0px 8px 0px;
}
.login-page .todo-title p {
  padding-bottom: 36px;
}
.login-page .user-welcome {
  text-align: center;
  display: flex;
  justify-content: center;
}
.login-page .user-welcome .card-content {
  display: flex;
  padding: 16px;
}
.login-page .user-welcome .card-content p {
  padding: 24px;
}
.login-page .user-welcome .card-content .card {
  border-radius: 10px;
  border: 5.5px solid #18c8e1;
  box-shadow: 5px 10px #a7a1a127;
  background-color: #160c30;
}
.login-page .user-welcome .card-content .login-button, .login-page .user-welcome .card-content .join-button {
  padding: 16px 0px 24px 0px;
  margin: auto;
}
.login-page .user-welcome .card-content .login-button .join-paragraph, .login-page .user-welcome .card-content .join-button .join-paragraph {
  width: 100%;
  padding: 24px;
}
.login-page .login-form, .login-page .join-form {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  padding-top: 60px;
}
.login-page .login-form .login-content, .login-page .login-form .join-content, .login-page .join-form .login-content, .login-page .join-form .join-content {
  display: block;
  padding: 16px;
  height: 352px;
  background-color: #2f174c;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 5.5px solid #18c8e1;
  width: 30%;
  border-radius: 25px;
}
.login-page .login-form .login-content input[id=username], .login-page .login-form .login-content input[id=password], .login-page .login-form .join-content input[id=username], .login-page .login-form .join-content input[id=password], .login-page .join-form .login-content input[id=username], .login-page .join-form .login-content input[id=password], .login-page .join-form .join-content input[id=username], .login-page .join-form .join-content input[id=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 5.5px solid #18c8e1;
  box-sizing: border-box;
  border-radius: 11px;
  outline: none;
}
.login-page .login-form .login-content .cancel-container, .login-page .login-form .join-content .cancel-container, .login-page .join-form .login-content .cancel-container, .login-page .join-form .join-content .cancel-container {
  padding: 8px;
  padding-top: 40px;
}
.login-page .login-form .login-content .cancel-container .cancel-btn, .login-page .login-form .join-content .cancel-container .cancel-btn, .login-page .join-form .login-content .cancel-container .cancel-btn, .login-page .join-form .join-content .cancel-container .cancel-btn {
  margin: auto;
}
.login-page .login-form .login-content .cancel-container .buttons, .login-page .login-form .join-content .cancel-container .buttons, .login-page .join-form .login-content .cancel-container .buttons, .login-page .join-form .join-content .cancel-container .buttons {
  float: right;
  outline: none;
  text-align: center;
}
.login-page .login-form input, .login-page .login-form button, .login-page .join-form input, .login-page .join-form button {
  font-size: 1rem;
}

.expand {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
button {
  -webkit-appearance: none !important;
  outline: none;
  box-shadow: none;
  border: 1px solid #f32dc0;
  padding: 8px 16px;
  color: white;
  background-color: #f32dc0;
  border-radius: 25px;
  font-size: 1.25rem;
  outline: none;
}
button:hover {
  background-color: white;
  color: #158191;
  border: 1px solid #158191;
  outline: none;
}

p {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.swal-button {
  background-color: #158191 !important;
}
.swal-button:hover {
  background-color: white !important;
  color: #158191 !important;
  border: 1px solid #158191 !important;
}

.card {
  border-radius: 10px;
  border: 5.5px solid #18c8e1;
  box-shadow: 5px 10px #a7a1a127;
  background-color: #160c30;
}

@media (max-width: 768px) {
  .login-page .login-form .login-content {
    width: 75%;
  }
}

/*# sourceMappingURL=login.css.map */
