@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-image: 147deg, #f9fcff 74%, #f2f8ff 0%;
}

.todo-card {
  background-image: linear-gradient(120deg, #e0455f, #44000b);
  color: white;
}
.todo-card header {
  font-size: 1.5rem;
  padding: 56px;
  padding-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding-top: 100px;
}

form {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 1.25rem;
  background: white;
  border: none;
  outline: none;
}

form button {
  color: #600c1b;
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
  border: none;
  outline: none;
}

form button:hover {
  background: #e0455f;
  color: white;
  border: none;
  outline: none;
}

.user-todo {
  width: 80%;
  margin: auto;
  margin-top: -72px;
}
.user-todo .todo-form ::placeholder {
  font-size: 1rem !important;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.todo-container {
  justify-content: center;
  align-items: center;
  display: flex;
}
.todo-container .todo-list {
  list-style: none;
  min-width: 40%;
  padding-bottom: 42px;
}
.todo-container .todo-list .completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.todo-container .todo-list .todo-item {
  padding: 0rem 0.5rem;
}
.todo-container .todo-list .todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.todo-container .todo-list .todo li {
  flex: 1;
}
.todo-container .todo-list .todo .completed-btn,
.todo-container .todo-list .todo .deleted-btn,
.todo-container .todo-list .todo .edit-btn {
  background: #df465e;
  background-color: white;
  border: none;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
.todo-container .todo-list .todo .completed-btn {
  color: #059605;
}
.todo-container .todo-list .todo .completed-btn:hover {
  background-color: #059605;
  color: white;
}
.todo-container .todo-list .todo .edit-btn {
  color: #38c0e9;
}
.todo-container .todo-list .todo .edit-btn:hover {
  background-color: #38c0e9;
  color: white;
}
.todo-container .todo-list .todo .deleted-btn {
  color: #d12e2e;
}
.todo-container .todo-list .todo .deleted-btn:hover {
  background-color: #d12e2e;
  color: white;
}

.options {
  min-width: 10%;
  margin: 0.5rem;
  display: flex;
}
.options ::placeholder {
  font-size: 1rem !important;
}
.options .tag-options {
  color: black;
  background: white;
  font-size: 1.25rem;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

:-webkit-autofill {
  color: #fff !important;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #df465e;
  width: 10rem;
  cursor: pointer;
  padding: 0.7rem;
}

.select::after {
  content: "▾";
  position: absolute;
  background: #600c1b;
  top: 0;
  right: 0;
  padding: 0.7rem;
  pointer-events: none;
}

.select:hover::after {
  color: white;
  background: #df465e;
  transition: all 0.3 ease;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.fa-trash,
.fa-check,
.fa-trash {
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
